shop_groups/shop_groups.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Shop_groups/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Shop_groups/"
	name="Shop_groups" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Shop_groups/">
			
			<xsd:element name="GetShop_groupsRequest" type="tns:GetInput" />
			<xsd:element name="GetShop_groupsResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetShop_groupByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetShop_groupByIdResponse" type="tns:shop_groups" />
			
			<xsd:element name="CreateShop_groupRequest" type="tns:AddShop_groupInput" />
			<xsd:element name="CreateShop_groupResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateShop_groupRequest" type="tns:AddShop_groupInput" />
			<xsd:element name="UpdateShop_groupResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteShop_groupRequest" type="tns:DelInput" />
			<xsd:element name="DeleteShop_groupResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddShop_groupInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="shop_group" type="tns:shop_group" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="shop_groups">
				<xsd:sequence>
					<xsd:element name="shop_group" type="tns:shop_group" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="shop_group">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="share_customer" type="xsd:string" />
					<xsd:element name="share_order" type="xsd:string" />
					<xsd:element name="share_stock" type="xsd:string" />
					<xsd:element name="active" type="xsd:string" />
					<xsd:element name="deleted" type="xsd:string" />					
				</xsd:all>
			</xsd:complexType>


			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetShop_groupsRequest">
		<wsdl:part element="tns:GetShop_groupsRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetShop_groupsResponse">
		<wsdl:part element="tns:GetShop_groupsResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetShop_groupByIdRequest">
		<wsdl:part element="tns:GetShop_groupByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetShop_groupByIdResponse">
		<wsdl:part element="tns:GetShop_groupByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateShop_groupRequest">
		<wsdl:part element="tns:CreateShop_groupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateShop_groupResponse">
		<wsdl:part element="tns:CreateShop_groupResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateShop_groupRequest">
		<wsdl:part element="tns:UpdateShop_groupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateShop_groupResponse">
		<wsdl:part element="tns:UpdateShop_groupResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteShop_groupRequest">
		<wsdl:part element="tns:DeleteShop_groupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteShop_groupResponse">
		<wsdl:part element="tns:DeleteShop_groupResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Shop_groups">
	
	
		<wsdl:operation name="GetShop_groups">
			<wsdl:input message="tns:GetShop_groupsRequest"></wsdl:input>
			<wsdl:output message="tns:GetShop_groupsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetShop_groupById">
			<wsdl:input message="tns:GetShop_groupByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetShop_groupByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateShop_group">
			<wsdl:input message="tns:CreateShop_groupRequest"></wsdl:input>
			<wsdl:output message="tns:CreateShop_groupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateShop_group">
			<wsdl:input message="tns:UpdateShop_groupRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateShop_groupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteShop_group">
			<wsdl:input message="tns:DeleteShop_groupRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteShop_groupResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Shop_groupsSOAP" type="tns:Shop_groups">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetShop_groups">
			<soap:operation soapAction="http://www.prestashop.com/shop_groups/GetShop_groups" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetShop_groupById">
			<soap:operation soapAction="http://www.prestashop.com/shop_groups/GetShop_groupById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateShop_group">
			<soap:operation soapAction="http://www.prestashop.com/shop_groups/CreateShop_group" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateShop_group">
			<soap:operation soapAction="http://www.prestashop.com/shop_groups/UpdateShop_group" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteShop_group">
			<soap:operation soapAction="http://www.prestashop.com/shop_groups/DeleteShop_group" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Shop_groups">
		<wsdl:port binding="tns:Shop_groupsSOAP" name="Shop_groupsSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/shop_groups/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
