order_states/order_states.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Order_states/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Order_states/"
	name="Order_states" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Order_states/">
				
			<xsd:element name="GetOrder_statesRequest" type="tns:GetInput" />
			<xsd:element name="GetOrder_statesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetOrder_stateByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetOrder_stateByIdResponse" type="tns:order_states" />
			
			<xsd:element name="CreateOrder_stateRequest" type="tns:AddOrder_stateInput" />
			<xsd:element name="CreateOrder_stateResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateOrder_stateRequest" type="tns:AddOrder_stateInput" />
			<xsd:element name="UpdateOrder_stateResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteOrder_stateRequest" type="tns:DelInput" />
			<xsd:element name="DeleteOrder_stateResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddOrder_stateInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="order_state" type="tns:order_state" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="order_states">
				<xsd:sequence>
					<xsd:element name="order_state" type="tns:order_state" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="order_state">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="unremovable" type="xsd:string" />
					<xsd:element name="delivery" type="xsd:string" />
					<xsd:element name="hidden" type="xsd:string" />
					<xsd:element name="send_email" type="xsd:string" />
					<xsd:element name="module_name" type="xsd:string" />
					<xsd:element name="invoice" type="xsd:string" />
					<xsd:element name="color" type="xsd:string" />
					<xsd:element name="logable" type="xsd:string" />
					<xsd:element name="shipped" type="xsd:string" />
					<xsd:element name="paid" type="xsd:string" />
					<xsd:element name="deleted" type="xsd:string" />
					<xsd:element name="name" type="tns:name" />
					<xsd:element name="template" type="tns:template" />						
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="name">
				<xsd:all>
					<xsd:element name="language" type="tns:language" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="template">
				<xsd:all>
					<xsd:element name="language" type="tns:language" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetOrder_statesRequest">
		<wsdl:part element="tns:GetOrder_statesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetOrder_statesResponse">
		<wsdl:part element="tns:GetOrder_statesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetOrder_stateByIdRequest">
		<wsdl:part element="tns:GetOrder_stateByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetOrder_stateByIdResponse">
		<wsdl:part element="tns:GetOrder_stateByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateOrder_stateRequest">
		<wsdl:part element="tns:CreateOrder_stateRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateOrder_stateResponse">
		<wsdl:part element="tns:CreateOrder_stateResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateOrder_stateRequest">
		<wsdl:part element="tns:UpdateOrder_stateRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateOrder_stateResponse">
		<wsdl:part element="tns:UpdateOrder_stateResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteOrder_stateRequest">
		<wsdl:part element="tns:DeleteOrder_stateRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteOrder_stateResponse">
		<wsdl:part element="tns:DeleteOrder_stateResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Order_states">
	
	
		<wsdl:operation name="GetOrder_states">
			<wsdl:input message="tns:GetOrder_statesRequest"></wsdl:input>
			<wsdl:output message="tns:GetOrder_statesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrder_stateById">
			<wsdl:input message="tns:GetOrder_stateByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetOrder_stateByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateOrder_state">
			<wsdl:input message="tns:CreateOrder_stateRequest"></wsdl:input>
			<wsdl:output message="tns:CreateOrder_stateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrder_state">
			<wsdl:input message="tns:UpdateOrder_stateRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateOrder_stateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOrder_state">
			<wsdl:input message="tns:DeleteOrder_stateRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteOrder_stateResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Order_statesSOAP" type="tns:Order_states">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetOrder_states">
			<soap:operation soapAction="http://www.prestashop.com/order_states/GetOrder_states" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrder_stateById">
			<soap:operation soapAction="http://www.prestashop.com/order_states/GetOrder_stateById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateOrder_state">
			<soap:operation soapAction="http://www.prestashop.com/order_states/CreateOrder_state" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrder_state">
			<soap:operation soapAction="http://www.prestashop.com/order_states/UpdateOrder_state" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOrder_state">
			<soap:operation soapAction="http://www.prestashop.com/order_states/DeleteOrder_state" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Order_states">
		<wsdl:port binding="tns:Order_statesSOAP" name="Order_statesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/order_states/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
