orders/orders.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Orders/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Orders/"
	name="Orders" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Orders/">
					
			<xsd:element name="GetOrdersRequest" type="tns:GetInput" />
			<xsd:element name="GetOrdersResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetOrderByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetOrderByIdResponse" type="tns:orders" />
			
			<xsd:element name="CreateOrderRequest" type="tns:AddOrderInput" />
			<xsd:element name="CreateOrderResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateOrderRequest" type="tns:AddOrderInput" />
			<xsd:element name="UpdateOrderResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteOrderRequest" type="tns:DelInput" />
			<xsd:element name="DeleteOrderResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddOrderInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="order" type="tns:order" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="orders">
				<xsd:sequence>
					<xsd:element name="order" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="order">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_address_delivery" type="xsd:string" />
					<xsd:element name="id_address_invoice" type="xsd:string" />
					<xsd:element name="id_cart" type="xsd:string" />
					<xsd:element name="id_currency" type="xsd:string" />
					<xsd:element name="id_lang" type="xsd:string" />
					<xsd:element name="id_customer" type="xsd:string" />
					<xsd:element name="id_carrier" type="xsd:string" />
					<xsd:element name="current_state" type="xsd:string" />
					<xsd:element name="module" type="xsd:string" />
					<xsd:element name="invoice_number" type="xsd:string" />
					<xsd:element name="invoice_date" type="xsd:string" />
					<xsd:element name="delivery_number" type="xsd:string" />
					<xsd:element name="delivery_date" type="xsd:string" />
					<xsd:element name="valid" type="xsd:string" />
					<xsd:element name="date_add" type="xsd:string" />
					<xsd:element name="date_upd" type="xsd:string" />
					<xsd:element name="id_shop_group" type="xsd:string" />
					<xsd:element name="id_shop" type="xsd:string" />
					<xsd:element name="secure_key" type="xsd:string" />
					<xsd:element name="payment" type="xsd:string" />
					<xsd:element name="recyclable" type="xsd:string" />
					<xsd:element name="gift" type="xsd:string" />
					<xsd:element name="gift_message" type="xsd:string" />
					<xsd:element name="total_discounts" type="xsd:string" />
					<xsd:element name="total_discounts_tax_incl" type="xsd:string" />
					<xsd:element name="total_discounts_tax_excl" type="xsd:string" />
					<xsd:element name="total_paid" type="xsd:string" />
					<xsd:element name="total_paid_tax_incl" type="xsd:string" />
					<xsd:element name="total_paid_tax_excl" type="xsd:string" />
					<xsd:element name="total_paid_real" type="xsd:string" />
					<xsd:element name="total_products" type="xsd:string" />
					<xsd:element name="total_products_wt" type="xsd:string" />
					<xsd:element name="total_shipping" type="xsd:string" />
					<xsd:element name="total_shipping_tax_incl" type="xsd:string" />
					<xsd:element name="total_shipping_tax_excl" type="xsd:string" />
					<xsd:element name="carrier_tax_rate" type="xsd:string" />
					<xsd:element name="total_wrapping" type="xsd:string" />
					<xsd:element name="total_wrapping_tax_incl" type="xsd:string" />
					<xsd:element name="total_wrapping_tax_excl" type="xsd:string" />
					<xsd:element name="shipping_number" type="xsd:string" />
					<xsd:element name="conversion_rate" type="xsd:string" />
					<xsd:element name="reference" type="xsd:string" />
					<xsd:element name="associations" type="tns:associations" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="associations">
				<xsd:sequence>
					<xsd:element name="order_rows" type="tns:order_rows" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="order_rows">
				<xsd:sequence>
					<xsd:element name="order_row" type="tns:order_row" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="order_row">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="product_id" type="xsd:string" />
					<xsd:element name="product_attribute_id" type="xsd:string" />
					<xsd:element name="product_quantity" type="xsd:string" />
					<xsd:element name="product_name" type="xsd:string" />
					<xsd:element name="product_price" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetOrdersRequest">
		<wsdl:part element="tns:GetOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetOrdersResponse">
		<wsdl:part element="tns:GetOrdersResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetOrderByIdRequest">
		<wsdl:part element="tns:GetOrderByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetOrderByIdResponse">
		<wsdl:part element="tns:GetOrderByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateOrderRequest">
		<wsdl:part element="tns:CreateOrderRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateOrderResponse">
		<wsdl:part element="tns:CreateOrderResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateOrderRequest">
		<wsdl:part element="tns:UpdateOrderRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateOrderResponse">
		<wsdl:part element="tns:UpdateOrderResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteOrderRequest">
		<wsdl:part element="tns:DeleteOrderRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteOrderResponse">
		<wsdl:part element="tns:DeleteOrderResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Orders">
	
	
		<wsdl:operation name="GetOrders">
			<wsdl:input message="tns:GetOrdersRequest"></wsdl:input>
			<wsdl:output message="tns:GetOrdersResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrderById">
			<wsdl:input message="tns:GetOrderByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetOrderByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateOrder">
			<wsdl:input message="tns:CreateOrderRequest"></wsdl:input>
			<wsdl:output message="tns:CreateOrderResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrder">
			<wsdl:input message="tns:UpdateOrderRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateOrderResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOrder">
			<wsdl:input message="tns:DeleteOrderRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteOrderResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="OrdersSOAP" type="tns:Orders">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetOrders">
			<soap:operation soapAction="http://www.prestashop.com/orders/GetOrders" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrderById">
			<soap:operation soapAction="http://www.prestashop.com/orders/GetOrderById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateOrder">
			<soap:operation soapAction="http://www.prestashop.com/orders/CreateOrder" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrder">
			<soap:operation soapAction="http://www.prestashop.com/orders/UpdateOrder" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOrder">
			<soap:operation soapAction="http://www.prestashop.com/orders/DeleteOrder" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Orders">
		<wsdl:port binding="tns:OrdersSOAP" name="OrdersSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/orders/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
