order_invoices/order_invoices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Order_invoices/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Order_invoices/"
	name="Order_invoices" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Order_invoices/">
						
			<xsd:element name="GetOrder_invoicesRequest" type="tns:GetInput" />
			<xsd:element name="GetOrder_invoicesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetOrder_invoiceByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetOrder_invoiceByIdResponse" type="tns:order_invoices" />
			
			<xsd:element name="CreateOrder_invoiceRequest" type="tns:AddOrder_invoiceInput" />
			<xsd:element name="CreateOrder_invoiceResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateOrder_invoiceRequest" type="tns:AddOrder_invoiceInput" />
			<xsd:element name="UpdateOrder_invoiceResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteOrder_invoiceRequest" type="tns:DelInput" />
			<xsd:element name="DeleteOrder_invoiceResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddOrder_invoiceInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="order_invoice" type="tns:order_invoice" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="order_invoices">
				<xsd:sequence>
					<xsd:element name="order_invoice" type="tns:order_invoice" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="order_invoice">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_order" type="xsd:string" />
					<xsd:element name="number" type="xsd:string" />
					<xsd:element name="delivery_number" type="xsd:string" />
					<xsd:element name="delivery_date" type="xsd:string" />
					<xsd:element name="total_discount_tax_excl" type="xsd:string" />
					<xsd:element name="total_discount_tax_incl" type="xsd:string" />
					<xsd:element name="total_paid_tax_excl" type="xsd:string" />
					<xsd:element name="total_paid_tax_incl" type="xsd:string" />
					<xsd:element name="total_products" type="xsd:string" />
					<xsd:element name="total_products_wt" type="xsd:string" />
					<xsd:element name="total_shipping_tax_excl" type="xsd:string" />
					<xsd:element name="total_shipping_tax_incl" type="xsd:string" />
					<xsd:element name="shipping_tax_computation_method" type="xsd:string" />
					<xsd:element name="total_wrapping_tax_excl" type="xsd:string" />
					<xsd:element name="total_wrapping_tax_incl" type="xsd:string" />	
					<xsd:element name="note" type="xsd:string" />
					<xsd:element name="date_add" type="xsd:string" />							
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetOrder_invoicesRequest">
		<wsdl:part element="tns:GetOrder_invoicesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetOrder_invoicesResponse">
		<wsdl:part element="tns:GetOrder_invoicesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetOrder_invoiceByIdRequest">
		<wsdl:part element="tns:GetOrder_invoiceByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetOrder_invoiceByIdResponse">
		<wsdl:part element="tns:GetOrder_invoiceByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateOrder_invoiceRequest">
		<wsdl:part element="tns:CreateOrder_invoiceRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateOrder_invoiceResponse">
		<wsdl:part element="tns:CreateOrder_invoiceResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateOrder_invoiceRequest">
		<wsdl:part element="tns:UpdateOrder_invoiceRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateOrder_invoiceResponse">
		<wsdl:part element="tns:UpdateOrder_invoiceResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteOrder_invoiceRequest">
		<wsdl:part element="tns:DeleteOrder_invoiceRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteOrder_invoiceResponse">
		<wsdl:part element="tns:DeleteOrder_invoiceResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Order_invoices">
	
	
		<wsdl:operation name="GetOrder_invoices">
			<wsdl:input message="tns:GetOrder_invoicesRequest"></wsdl:input>
			<wsdl:output message="tns:GetOrder_invoicesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrder_invoiceById">
			<wsdl:input message="tns:GetOrder_invoiceByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetOrder_invoiceByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateOrder_invoice">
			<wsdl:input message="tns:CreateOrder_invoiceRequest"></wsdl:input>
			<wsdl:output message="tns:CreateOrder_invoiceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrder_invoice">
			<wsdl:input message="tns:UpdateOrder_invoiceRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateOrder_invoiceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOrder_invoice">
			<wsdl:input message="tns:DeleteOrder_invoiceRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteOrder_invoiceResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Order_invoicesSOAP" type="tns:Order_invoices">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetOrder_invoices">
			<soap:operation soapAction="http://www.prestashop.com/order_invoices/GetOrder_invoices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrder_invoiceById">
			<soap:operation soapAction="http://www.prestashop.com/order_invoices/GetOrder_invoiceById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateOrder_invoice">
			<soap:operation soapAction="http://www.prestashop.com/order_invoices/CreateOrder_invoice" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrder_invoice">
			<soap:operation soapAction="http://www.prestashop.com/order_invoices/UpdateOrder_invoice" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOrder_invoice">
			<soap:operation soapAction="http://www.prestashop.com/order_invoices/DeleteOrder_invoice" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Order_invoices">
		<wsdl:port binding="tns:Order_invoicesSOAP" name="Order_invoicesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/order_invoices/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
