supply_order_states/supply_order_states.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Supply_order_states/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Supply_order_states/"
	name="Supply_order_states" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Supply_order_states/">
				
			<xsd:element name="GetSupply_order_statesRequest" type="tns:GetInput" />
			<xsd:element name="GetSupply_order_statesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetSupply_order_stateByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetSupply_order_stateByIdResponse" type="tns:supply_order_states" />
			
			<xsd:element name="CreateSupply_order_stateRequest" type="tns:AddSupply_order_stateInput" />
			<xsd:element name="CreateSupply_order_stateResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateSupply_order_stateRequest" type="tns:AddSupply_order_stateInput" />
			<xsd:element name="UpdateSupply_order_stateResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteSupply_order_stateRequest" type="tns:DelInput" />
			<xsd:element name="DeleteSupply_order_stateResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddSupply_order_stateInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="supply_order_state" type="tns:supply_order_state" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="supply_order_states">
				<xsd:sequence>
					<xsd:element name="supply_order_state" type="tns:supply_order_state" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="supply_order_state">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="delivery_note" type="xsd:string" />
					<xsd:element name="editable" type="xsd:string" />
					<xsd:element name="receipt_state" type="xsd:string" />
					<xsd:element name="pending_receipt" type="xsd:string" />
					<xsd:element name="enclosed" type="xsd:string" />
					<xsd:element name="color" type="xsd:string" />
					<xsd:element name="name" type="tns:name" />
					
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="name">
				<xsd:all>
					<xsd:element name="language" type="tns:language" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetSupply_order_statesRequest">
		<wsdl:part element="tns:GetSupply_order_statesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetSupply_order_statesResponse">
		<wsdl:part element="tns:GetSupply_order_statesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetSupply_order_stateByIdRequest">
		<wsdl:part element="tns:GetSupply_order_stateByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetSupply_order_stateByIdResponse">
		<wsdl:part element="tns:GetSupply_order_stateByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateSupply_order_stateRequest">
		<wsdl:part element="tns:CreateSupply_order_stateRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateSupply_order_stateResponse">
		<wsdl:part element="tns:CreateSupply_order_stateResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateSupply_order_stateRequest">
		<wsdl:part element="tns:UpdateSupply_order_stateRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateSupply_order_stateResponse">
		<wsdl:part element="tns:UpdateSupply_order_stateResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteSupply_order_stateRequest">
		<wsdl:part element="tns:DeleteSupply_order_stateRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteSupply_order_stateResponse">
		<wsdl:part element="tns:DeleteSupply_order_stateResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Supply_order_states">
	
	
		<wsdl:operation name="GetSupply_order_states">
			<wsdl:input message="tns:GetSupply_order_statesRequest"></wsdl:input>
			<wsdl:output message="tns:GetSupply_order_statesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSupply_order_stateById">
			<wsdl:input message="tns:GetSupply_order_stateByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetSupply_order_stateByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateSupply_order_state">
			<wsdl:input message="tns:CreateSupply_order_stateRequest"></wsdl:input>
			<wsdl:output message="tns:CreateSupply_order_stateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateSupply_order_state">
			<wsdl:input message="tns:UpdateSupply_order_stateRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateSupply_order_stateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteSupply_order_state">
			<wsdl:input message="tns:DeleteSupply_order_stateRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteSupply_order_stateResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Supply_order_statesSOAP" type="tns:Supply_order_states">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetSupply_order_states">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_states/GetSupply_order_states" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSupply_order_stateById">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_states/GetSupply_order_stateById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateSupply_order_state">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_states/CreateSupply_order_state" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateSupply_order_state">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_states/UpdateSupply_order_state" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteSupply_order_state">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_states/DeleteSupply_order_state" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Supply_order_states">
		<wsdl:port binding="tns:Supply_order_statesSOAP" name="Supply_order_statesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/supply_order_states/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
