warehouse_product_locations/warehouse_product_locations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Warehouse_product_locations/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Warehouse_product_locations/"
	name="Warehouse_product_locations" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Warehouse_product_locations/">
			
			<xsd:element name="GetWarehouse_product_locationsRequest" type="tns:GetInput" />
			<xsd:element name="GetWarehouse_product_locationsResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetWarehouse_product_locationByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetWarehouse_product_locationByIdResponse" type="tns:warehouse_product_locations" />
			
			<xsd:element name="CreateWarehouse_product_locationRequest" type="tns:AddWarehouse_product_locationInput" />
			<xsd:element name="CreateWarehouse_product_locationResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateWarehouse_product_locationRequest" type="tns:AddWarehouse_product_locationInput" />
			<xsd:element name="UpdateWarehouse_product_locationResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteWarehouse_product_locationRequest" type="tns:DelInput" />
			<xsd:element name="DeleteWarehouse_product_locationResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddWarehouse_product_locationInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="warehouse_product_location" type="tns:warehouse_product_location" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="warehouse_product_locations">
				<xsd:sequence>
					<xsd:element name="warehouse_product_location" type="tns:warehouse_product_location" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="warehouse_product_location">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_product" type="xsd:string" />
					<xsd:element name="id_product_attribute" type="xsd:string" />
					<xsd:element name="id_warehouse" type="xsd:string" />
					<xsd:element name="location" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetWarehouse_product_locationsRequest">
		<wsdl:part element="tns:GetWarehouse_product_locationsRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetWarehouse_product_locationsResponse">
		<wsdl:part element="tns:GetWarehouse_product_locationsResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetWarehouse_product_locationByIdRequest">
		<wsdl:part element="tns:GetWarehouse_product_locationByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetWarehouse_product_locationByIdResponse">
		<wsdl:part element="tns:GetWarehouse_product_locationByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateWarehouse_product_locationRequest">
		<wsdl:part element="tns:CreateWarehouse_product_locationRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateWarehouse_product_locationResponse">
		<wsdl:part element="tns:CreateWarehouse_product_locationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateWarehouse_product_locationRequest">
		<wsdl:part element="tns:UpdateWarehouse_product_locationRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateWarehouse_product_locationResponse">
		<wsdl:part element="tns:UpdateWarehouse_product_locationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteWarehouse_product_locationRequest">
		<wsdl:part element="tns:DeleteWarehouse_product_locationRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteWarehouse_product_locationResponse">
		<wsdl:part element="tns:DeleteWarehouse_product_locationResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Warehouse_product_locations">
	
	
		<wsdl:operation name="GetWarehouse_product_locations">
			<wsdl:input message="tns:GetWarehouse_product_locationsRequest"></wsdl:input>
			<wsdl:output message="tns:GetWarehouse_product_locationsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetWarehouse_product_locationById">
			<wsdl:input message="tns:GetWarehouse_product_locationByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetWarehouse_product_locationByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateWarehouse_product_location">
			<wsdl:input message="tns:CreateWarehouse_product_locationRequest"></wsdl:input>
			<wsdl:output message="tns:CreateWarehouse_product_locationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateWarehouse_product_location">
			<wsdl:input message="tns:UpdateWarehouse_product_locationRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateWarehouse_product_locationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteWarehouse_product_location">
			<wsdl:input message="tns:DeleteWarehouse_product_locationRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteWarehouse_product_locationResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Warehouse_product_locationsSOAP" type="tns:Warehouse_product_locations">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetWarehouse_product_locations">
			<soap:operation soapAction="http://www.prestashop.com/warehouse_product_locations/GetWarehouse_product_locations" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetWarehouse_product_locationById">
			<soap:operation soapAction="http://www.prestashop.com/warehouse_product_locations/GetWarehouse_product_locationById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateWarehouse_product_location">
			<soap:operation soapAction="http://www.prestashop.com/warehouse_product_locations/CreateWarehouse_product_location" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateWarehouse_product_location">
			<soap:operation soapAction="http://www.prestashop.com/warehouse_product_locations/UpdateWarehouse_product_location" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteWarehouse_product_location">
			<soap:operation soapAction="http://www.prestashop.com/warehouse_product_locations/DeleteWarehouse_product_location" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Warehouse_product_locations">
		<wsdl:port binding="tns:Warehouse_product_locationsSOAP" name="Warehouse_product_locationsSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/warehouse_product_locations/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
