manufacturers/manufacturers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Manufacturers/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Manufacturers/"
	name="Manufacturers" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Manufacturers/">
		
			<xsd:element name="GetManufacturersRequest" type="tns:GetInput" />
			<xsd:element name="GetManufacturersResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetManufacturerByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetManufacturerByIdResponse" type="tns:manufacturers" />
			
			<xsd:element name="CreateManufacturerRequest" type="tns:AddManufacturerInput" />
			<xsd:element name="CreateManufacturerResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateManufacturerRequest" type="tns:AddManufacturerInput" />
			<xsd:element name="UpdateManufacturerResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteManufacturerRequest" type="tns:DelInput" />
			<xsd:element name="DeleteManufacturerResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddManufacturerInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="manufacturer" type="tns:manufacturer" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="manufacturers">
				<xsd:sequence>
					<xsd:element name="manufacturer" type="tns:manufacturer" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="manufacturer">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="active" type="xsd:string" />
					<xsd:element name="link_rewrite" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="date_add" type="xsd:string" />
					<xsd:element name="date_upd" type="xsd:string" />
					<xsd:element name="description" type="tns:langStruct" />
					<xsd:element name="short_description" type="tns:langStruct" />
					<xsd:element name="meta_title" type="tns:langStruct" />
					<xsd:element name="meta_description" type="tns:langStruct" />
					<xsd:element name="meta_keywords" type="tns:langStruct" />
					<xsd:element name="associations" type="tns:addressesStruct" />
				</xsd:all>
			</xsd:complexType>
			
			
			<xsd:complexType name="addressesStruct">
				<xsd:sequence>
					<xsd:element name="addresses" type="tns:addresses" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="addresses">
				<xsd:sequence>
					<xsd:element name="addresse" type="tns:addresse" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="addresse">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetManufacturersRequest">
		<wsdl:part element="tns:GetManufacturersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetManufacturersResponse">
		<wsdl:part element="tns:GetManufacturersResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetManufacturerByIdRequest">
		<wsdl:part element="tns:GetManufacturerByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetManufacturerByIdResponse">
		<wsdl:part element="tns:GetManufacturerByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateManufacturerRequest">
		<wsdl:part element="tns:CreateManufacturerRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateManufacturerResponse">
		<wsdl:part element="tns:CreateManufacturerResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateManufacturerRequest">
		<wsdl:part element="tns:UpdateManufacturerRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateManufacturerResponse">
		<wsdl:part element="tns:UpdateManufacturerResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteManufacturerRequest">
		<wsdl:part element="tns:DeleteManufacturerRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteManufacturerResponse">
		<wsdl:part element="tns:DeleteManufacturerResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Manufacturers">
	
	
		<wsdl:operation name="GetManufacturers">
			<wsdl:input message="tns:GetManufacturersRequest"></wsdl:input>
			<wsdl:output message="tns:GetManufacturersResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetManufacturerById">
			<wsdl:input message="tns:GetManufacturerByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetManufacturerByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateManufacturer">
			<wsdl:input message="tns:CreateManufacturerRequest"></wsdl:input>
			<wsdl:output message="tns:CreateManufacturerResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateManufacturer">
			<wsdl:input message="tns:UpdateManufacturerRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateManufacturerResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteManufacturer">
			<wsdl:input message="tns:DeleteManufacturerRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteManufacturerResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="ManufacturersSOAP" type="tns:Manufacturers">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetManufacturers">
			<soap:operation soapAction="http://www.prestashop.com/manufacturers/GetManufacturers" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetManufacturerById">
			<soap:operation soapAction="http://www.prestashop.com/manufacturers/GetManufacturerById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateManufacturer">
			<soap:operation soapAction="http://www.prestashop.com/manufacturers/CreateManufacturer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateManufacturer">
			<soap:operation soapAction="http://www.prestashop.com/manufacturers/UpdateManufacturer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteManufacturer">
			<soap:operation soapAction="http://www.prestashop.com/manufacturers/DeleteManufacturer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Manufacturers">
		<wsdl:port binding="tns:ManufacturersSOAP" name="ManufacturersSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/manufacturers/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
