stocks/stocks.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Stocks/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Stocks/"
	name="Stocks" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Stocks/">
					
			<xsd:element name="GetStocksRequest" type="tns:GetInput" />
			<xsd:element name="GetStocksResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetStockByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetStockByIdResponse" type="tns:stocks" />
			
			<xsd:element name="CreateStockRequest" type="tns:AddStockInput" />
			<xsd:element name="CreateStockResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateStockRequest" type="tns:AddStockInput" />
			<xsd:element name="UpdateStockResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteStockRequest" type="tns:DelInput" />
			<xsd:element name="DeleteStockResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddStockInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="stock" type="tns:stock" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="stocks">
				<xsd:sequence>
					<xsd:element name="stock" type="tns:stock" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="stock">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_warehouse" type="xsd:string" />
					<xsd:element name="id_product" type="xsd:string" />
					<xsd:element name="id_product_attribute" type="xsd:string" />
					<xsd:element name="reference" type="xsd:string" />
					<xsd:element name="ean13" type="xsd:string" />
					<xsd:element name="upc" type="xsd:string" />
					<xsd:element name="physical_quantity" type="xsd:string" />
					<xsd:element name="usable_quantity" type="xsd:string" />
					<xsd:element name="price_te" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetStocksRequest">
		<wsdl:part element="tns:GetStocksRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStocksResponse">
		<wsdl:part element="tns:GetStocksResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetStockByIdRequest">
		<wsdl:part element="tns:GetStockByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStockByIdResponse">
		<wsdl:part element="tns:GetStockByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateStockRequest">
		<wsdl:part element="tns:CreateStockRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateStockResponse">
		<wsdl:part element="tns:CreateStockResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateStockRequest">
		<wsdl:part element="tns:UpdateStockRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateStockResponse">
		<wsdl:part element="tns:UpdateStockResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteStockRequest">
		<wsdl:part element="tns:DeleteStockRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteStockResponse">
		<wsdl:part element="tns:DeleteStockResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Stocks">
	
	
		<wsdl:operation name="GetStocks">
			<wsdl:input message="tns:GetStocksRequest"></wsdl:input>
			<wsdl:output message="tns:GetStocksResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStockById">
			<wsdl:input message="tns:GetStockByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetStockByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateStock">
			<wsdl:input message="tns:CreateStockRequest"></wsdl:input>
			<wsdl:output message="tns:CreateStockResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateStock">
			<wsdl:input message="tns:UpdateStockRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateStockResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteStock">
			<wsdl:input message="tns:DeleteStockRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteStockResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="StocksSOAP" type="tns:Stocks">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetStocks">
			<soap:operation soapAction="http://www.prestashop.com/stocks/GetStocks" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStockById">
			<soap:operation soapAction="http://www.prestashop.com/stocks/GetStockById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateStock">
			<soap:operation soapAction="http://www.prestashop.com/stocks/CreateStock" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateStock">
			<soap:operation soapAction="http://www.prestashop.com/stocks/UpdateStock" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteStock">
			<soap:operation soapAction="http://www.prestashop.com/stocks/DeleteStock" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Stocks">
		<wsdl:port binding="tns:StocksSOAP" name="StocksSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/stocks/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
