deliveries/deliveries.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Deliveries/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Deliveries/"
	name="Deliveries" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Deliveries/">
					
			<xsd:element name="GetDeliveriesRequest" type="tns:GetInput" />
			<xsd:element name="GetDeliveriesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetDeliveryByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetDeliveryByIdResponse" type="tns:deliveries" />
			
			<xsd:element name="CreateDeliveryRequest" type="tns:AddDeliveryInput" />
			<xsd:element name="CreateDeliveryResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateDeliveryRequest" type="tns:AddDeliveryInput" />
			<xsd:element name="UpdateDeliveryResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteDeliveryRequest" type="tns:DelInput" />
			<xsd:element name="DeleteDeliveryResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddDeliveryInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="delivery" type="tns:delivery" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="deliveries">
				<xsd:sequence>
					<xsd:element name="delivery" type="tns:delivery" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="delivery">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_carrier" type="xsd:string" />
					<xsd:element name="id_range_price" type="xsd:string" />
					<xsd:element name="id_range_weight" type="xsd:string" />
					<xsd:element name="id_zone" type="xsd:string" />
					<xsd:element name="id_shop" type="xsd:string" />					
					<xsd:element name="id_shop_group" type="xsd:string" />
					<xsd:element name="price" type="xsd:string" />			
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetDeliveriesRequest">
		<wsdl:part element="tns:GetDeliveriesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetDeliveriesResponse">
		<wsdl:part element="tns:GetDeliveriesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetDeliveryByIdRequest">
		<wsdl:part element="tns:GetDeliveryByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetDeliveryByIdResponse">
		<wsdl:part element="tns:GetDeliveryByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateDeliveryRequest">
		<wsdl:part element="tns:CreateDeliveryRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateDeliveryResponse">
		<wsdl:part element="tns:CreateDeliveryResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateDeliveryRequest">
		<wsdl:part element="tns:UpdateDeliveryRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateDeliveryResponse">
		<wsdl:part element="tns:UpdateDeliveryResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteDeliveryRequest">
		<wsdl:part element="tns:DeleteDeliveryRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteDeliveryResponse">
		<wsdl:part element="tns:DeleteDeliveryResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Deliveries">
	
	
		<wsdl:operation name="GetDeliveries">
			<wsdl:input message="tns:GetDeliveriesRequest"></wsdl:input>
			<wsdl:output message="tns:GetDeliveriesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDeliveryById">
			<wsdl:input message="tns:GetDeliveryByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetDeliveryByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateDelivery">
			<wsdl:input message="tns:CreateDeliveryRequest"></wsdl:input>
			<wsdl:output message="tns:CreateDeliveryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateDelivery">
			<wsdl:input message="tns:UpdateDeliveryRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateDeliveryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteDelivery">
			<wsdl:input message="tns:DeleteDeliveryRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteDeliveryResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="DeliveriesSOAP" type="tns:Deliveries">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetDeliveries">
			<soap:operation soapAction="http://www.prestashop.com/deliveries/GetDeliveries" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDeliveryById">
			<soap:operation soapAction="http://www.prestashop.com/deliveries/GetDeliveryById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateDelivery">
			<soap:operation soapAction="http://www.prestashop.com/deliveries/CreateDelivery" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateDelivery">
			<soap:operation soapAction="http://www.prestashop.com/deliveries/UpdateDelivery" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteDelivery">
			<soap:operation soapAction="http://www.prestashop.com/deliveries/DeleteDelivery" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Deliveries">
		<wsdl:port binding="tns:DeliveriesSOAP" name="DeliveriesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/deliveries/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
