stock_availables/stock_availables.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Stock_availables/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Stock_availables/"
	name="Stock_availables" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Stock_availables/">
					
			<xsd:element name="GetStock_availablesRequest" type="tns:GetInput" />
			<xsd:element name="GetStock_availablesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetStock_availableByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetStock_availableByIdResponse" type="tns:stock_availables" />
			
			<xsd:element name="CreateStock_availableRequest" type="tns:AddStock_availableInput" />
			<xsd:element name="CreateStock_availableResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateStock_availableRequest" type="tns:AddStock_availableInput" />
			<xsd:element name="UpdateStock_availableResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteStock_availableRequest" type="tns:DelInput" />
			<xsd:element name="DeleteStock_availableResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddStock_availableInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="stock_available" type="tns:stock_available" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="stock_availables">
				<xsd:sequence>
					<xsd:element name="stock_available" type="tns:stock_available" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="stock_available">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_product" type="xsd:string" />
					<xsd:element name="id_product_attribute" type="xsd:string" />
					<xsd:element name="id_shop" type="xsd:string" />
					<xsd:element name="id_shop_group" type="xsd:string" />
					<xsd:element name="quantity" type="xsd:string" />
					<xsd:element name="depends_on_stock" type="xsd:string" />
					<xsd:element name="out_of_stock" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetStock_availablesRequest">
		<wsdl:part element="tns:GetStock_availablesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStock_availablesResponse">
		<wsdl:part element="tns:GetStock_availablesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetStock_availableByIdRequest">
		<wsdl:part element="tns:GetStock_availableByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStock_availableByIdResponse">
		<wsdl:part element="tns:GetStock_availableByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateStock_availableRequest">
		<wsdl:part element="tns:CreateStock_availableRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateStock_availableResponse">
		<wsdl:part element="tns:CreateStock_availableResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateStock_availableRequest">
		<wsdl:part element="tns:UpdateStock_availableRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateStock_availableResponse">
		<wsdl:part element="tns:UpdateStock_availableResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteStock_availableRequest">
		<wsdl:part element="tns:DeleteStock_availableRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteStock_availableResponse">
		<wsdl:part element="tns:DeleteStock_availableResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Stock_availables">
	
	
		<wsdl:operation name="GetStock_availables">
			<wsdl:input message="tns:GetStock_availablesRequest"></wsdl:input>
			<wsdl:output message="tns:GetStock_availablesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStock_availableById">
			<wsdl:input message="tns:GetStock_availableByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetStock_availableByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateStock_available">
			<wsdl:input message="tns:CreateStock_availableRequest"></wsdl:input>
			<wsdl:output message="tns:CreateStock_availableResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateStock_available">
			<wsdl:input message="tns:UpdateStock_availableRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateStock_availableResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteStock_available">
			<wsdl:input message="tns:DeleteStock_availableRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteStock_availableResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Stock_availablesSOAP" type="tns:Stock_availables">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetStock_availables">
			<soap:operation soapAction="http://www.prestashop.com/stock_availables/GetStock_availables" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStock_availableById">
			<soap:operation soapAction="http://www.prestashop.com/stock_availables/GetStock_availableById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateStock_available">
			<soap:operation soapAction="http://www.prestashop.com/stock_availables/CreateStock_available" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateStock_available">
			<soap:operation soapAction="http://www.prestashop.com/stock_availables/UpdateStock_available" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteStock_available">
			<soap:operation soapAction="http://www.prestashop.com/stock_availables/DeleteStock_available" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Stock_availables">
		<wsdl:port binding="tns:Stock_availablesSOAP" name="Stock_availablesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/stock_availables/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
