languages/languages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Languages/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Languages/"
	name="Languages" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Languages/">
						
			<xsd:element name="GetLanguagesRequest" type="tns:GetInput" />
			<xsd:element name="GetLanguagesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetLanguageByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetLanguageByIdResponse" type="tns:languages" />
			
			<xsd:element name="CreateLanguageRequest" type="tns:AddLanguageInput" />
			<xsd:element name="CreateLanguageResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateLanguageRequest" type="tns:AddLanguageInput" />
			<xsd:element name="UpdateLanguageResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddLanguageInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="language" type="tns:languageObj" />
				</xsd:all>
			</xsd:complexType>
			
			
			<xsd:complexType name="languages">
				<xsd:sequence>
					<xsd:element name="language" type="tns:languageObj" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="languageObj">
				<xsd:all>
					<!-- get From languageCore-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="iso_code" type="xsd:string" />
					<xsd:element name="language_code" type="xsd:string" />
					<xsd:element name="active" type="xsd:string" />
					<xsd:element name="is_rtl" type="xsd:string" />
					<xsd:element name="date_format_lite" type="xsd:string" />
					<xsd:element name="date_format_full" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>	
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetLanguagesRequest">
		<wsdl:part element="tns:GetLanguagesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetLanguagesResponse">
		<wsdl:part element="tns:GetLanguagesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetLanguageByIdRequest">
		<wsdl:part element="tns:GetLanguageByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetLanguageByIdResponse">
		<wsdl:part element="tns:GetLanguageByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateLanguageRequest">
		<wsdl:part element="tns:CreateLanguageRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateLanguageResponse">
		<wsdl:part element="tns:CreateLanguageResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateLanguageRequest">
		<wsdl:part element="tns:UpdateLanguageRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateLanguageResponse">
		<wsdl:part element="tns:UpdateLanguageResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Languages">
	
	
		<wsdl:operation name="GetLanguages">
			<wsdl:input message="tns:GetLanguagesRequest"></wsdl:input>
			<wsdl:output message="tns:GetLanguagesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLanguageById">
			<wsdl:input message="tns:GetLanguageByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetLanguageByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateLanguage">
			<wsdl:input message="tns:CreateLanguageRequest"></wsdl:input>
			<wsdl:output message="tns:CreateLanguageResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateLanguage">
			<wsdl:input message="tns:UpdateLanguageRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateLanguageResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="LanguagesSOAP" type="tns:Languages">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetLanguages">
			<soap:operation soapAction="http://www.prestashop.com/languages/GetLanguages" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLanguageById">
			<soap:operation soapAction="http://www.prestashop.com/languages/GetLanguageById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateLanguage">
			<soap:operation soapAction="http://www.prestashop.com/languages/CreateLanguage" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateLanguage">
			<soap:operation soapAction="http://www.prestashop.com/languages/UpdateLanguage" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Languages">
		<wsdl:port binding="tns:LanguagesSOAP" name="LanguagesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/languages/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
