price_ranges/price_ranges.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Price_ranges/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Price_ranges/"
	name="Price_ranges" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Price_ranges/">
					
			<xsd:element name="GetPrice_rangesRequest" type="tns:GetInput" />
			<xsd:element name="GetPrice_rangesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetPrice_rangeByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetPrice_rangeByIdResponse" type="tns:price_ranges" />
			
			<xsd:element name="CreatePrice_rangeRequest" type="tns:AddPrice_rangeInput" />
			<xsd:element name="CreatePrice_rangeResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdatePrice_rangeRequest" type="tns:AddPrice_rangeInput" />
			<xsd:element name="UpdatePrice_rangeResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeletePrice_rangeRequest" type="tns:DelInput" />
			<xsd:element name="DeletePrice_rangeResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddPrice_rangeInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="price_range" type="tns:price_range" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="price_ranges">
				<xsd:sequence>
					<xsd:element name="price_range" type="tns:price_range" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="price_range">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_carrier" type="xsd:string" />
					<xsd:element name="delimiter1" type="xsd:string" />
					<xsd:element name="delimiter2" type="xsd:string" />				
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetPrice_rangesRequest">
		<wsdl:part element="tns:GetPrice_rangesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetPrice_rangesResponse">
		<wsdl:part element="tns:GetPrice_rangesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetPrice_rangeByIdRequest">
		<wsdl:part element="tns:GetPrice_rangeByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetPrice_rangeByIdResponse">
		<wsdl:part element="tns:GetPrice_rangeByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreatePrice_rangeRequest">
		<wsdl:part element="tns:CreatePrice_rangeRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreatePrice_rangeResponse">
		<wsdl:part element="tns:CreatePrice_rangeResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdatePrice_rangeRequest">
		<wsdl:part element="tns:UpdatePrice_rangeRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdatePrice_rangeResponse">
		<wsdl:part element="tns:UpdatePrice_rangeResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeletePrice_rangeRequest">
		<wsdl:part element="tns:DeletePrice_rangeRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeletePrice_rangeResponse">
		<wsdl:part element="tns:DeletePrice_rangeResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Price_ranges">
	
	
		<wsdl:operation name="GetPrice_ranges">
			<wsdl:input message="tns:GetPrice_rangesRequest"></wsdl:input>
			<wsdl:output message="tns:GetPrice_rangesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPrice_rangeById">
			<wsdl:input message="tns:GetPrice_rangeByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetPrice_rangeByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreatePrice_range">
			<wsdl:input message="tns:CreatePrice_rangeRequest"></wsdl:input>
			<wsdl:output message="tns:CreatePrice_rangeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdatePrice_range">
			<wsdl:input message="tns:UpdatePrice_rangeRequest"></wsdl:input>
			<wsdl:output message="tns:UpdatePrice_rangeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeletePrice_range">
			<wsdl:input message="tns:DeletePrice_rangeRequest"></wsdl:input>
			<wsdl:output message="tns:DeletePrice_rangeResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Price_rangesSOAP" type="tns:Price_ranges">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetPrice_ranges">
			<soap:operation soapAction="http://www.prestashop.com/price_ranges/GetPrice_ranges" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPrice_rangeById">
			<soap:operation soapAction="http://www.prestashop.com/price_ranges/GetPrice_rangeById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreatePrice_range">
			<soap:operation soapAction="http://www.prestashop.com/price_ranges/CreatePrice_range" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdatePrice_range">
			<soap:operation soapAction="http://www.prestashop.com/price_ranges/UpdatePrice_range" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeletePrice_range">
			<soap:operation soapAction="http://www.prestashop.com/price_ranges/DeletePrice_range" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Price_ranges">
		<wsdl:port binding="tns:Price_rangesSOAP" name="Price_rangesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/price_ranges/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
