warehouses/warehouses.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Warehouses/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Warehouses/"
	name="Warehouses" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Warehouses/">
			
			<xsd:element name="GetWarehousesRequest" type="tns:GetInput" />
			<xsd:element name="GetWarehousesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetWarehouseByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetWarehouseByIdResponse" type="tns:Warehouses" />
			
			<xsd:element name="CreateWarehouseRequest" type="tns:AddWarehouseInput" />
			<xsd:element name="CreateWarehouseResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateWarehouseRequest" type="tns:AddWarehouseInput" />
			<xsd:element name="UpdateWarehouseResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteWarehouseRequest" type="tns:DelInput" />
			<xsd:element name="DeleteWarehouseResponse" type="tns:commonReturn" />
			
					
			<xsd:complexType name="AddWarehouseInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="warehouse" type="tns:warehouse" />
				</xsd:all>
			</xsd:complexType>
						
			<xsd:complexType name="Warehouses">
				<xsd:sequence>
					<xsd:element name="warehouse" type="tns:warehouse" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="warehouse">
				<xsd:all>
					<!-- get From sampleCore-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_address" type="xsd:string" />
					<xsd:element name="id_employee" type="xsd:string" />
					<xsd:element name="id_currency" type="xsd:string" />
					<xsd:element name="deleted" type="xsd:string" />
					<xsd:element name="reference" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="management_type" type="xsd:string" />
					<xsd:element name="associations" type="tns:associations" />
				
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="associations">
				<xsd:sequence>
					<xsd:element name="stocks" type="tns:stocks" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="carriers" type="tns:carriers" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="shops" type="tns:shops" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			
			
			<xsd:complexType name="stocks">
				<xsd:sequence>
					<xsd:element name="stock" type="tns:stock" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="stock">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="carriers">
				<xsd:sequence>
					<xsd:element name="carrier" type="tns:carrier" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="carrier">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="shops">
				<xsd:sequence>
					<xsd:element name="shop" type="tns:shop" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="shop">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetWarehousesRequest">
		<wsdl:part element="tns:GetWarehousesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetWarehousesResponse">
		<wsdl:part element="tns:GetWarehousesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetWarehouseByIdRequest">
		<wsdl:part element="tns:GetWarehouseByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetWarehouseByIdResponse">
		<wsdl:part element="tns:GetWarehouseByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateWarehouseRequest">
		<wsdl:part element="tns:CreateWarehouseRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateWarehouseResponse">
		<wsdl:part element="tns:CreateWarehouseResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateWarehouseRequest">
		<wsdl:part element="tns:UpdateWarehouseRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateWarehouseResponse">
		<wsdl:part element="tns:UpdateWarehouseResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteWarehouseRequest">
		<wsdl:part element="tns:DeleteWarehouseRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteWarehouseResponse">
		<wsdl:part element="tns:DeleteWarehouseResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Warehouses">
	
	
		<wsdl:operation name="GetWarehouses">
			<wsdl:input message="tns:GetWarehousesRequest"></wsdl:input>
			<wsdl:output message="tns:GetWarehousesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetWarehouseById">
			<wsdl:input message="tns:GetWarehouseByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetWarehouseByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateWarehouse">
			<wsdl:input message="tns:CreateWarehouseRequest"></wsdl:input>
			<wsdl:output message="tns:CreateWarehouseResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateWarehouse">
			<wsdl:input message="tns:UpdateWarehouseRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateWarehouseResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteWarehouse">
			<wsdl:input message="tns:DeleteWarehouseRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteWarehouseResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="WarehousesSOAP" type="tns:Warehouses">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetWarehouses">
			<soap:operation soapAction="http://www.prestashop.com/Warehouses/GetWarehouses" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetWarehouseById">
			<soap:operation soapAction="http://www.prestashop.com/Warehouses/GetWarehouseById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateWarehouse">
			<soap:operation soapAction="http://www.prestashop.com/Warehouses/CreateWarehouse" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateWarehouse">
			<soap:operation soapAction="http://www.prestashop.com/Warehouses/UpdateWarehouse" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteWarehouse">
			<soap:operation soapAction="http://www.prestashop.com/Warehouses/DeleteWarehouse" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Warehouses">
		<wsdl:port binding="tns:WarehousesSOAP" name="WarehousesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/warehouses/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
