shops/shops.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Shops/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Shops/"
	name="Shops" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Shops/">
				
			<xsd:element name="GetShopsRequest" type="tns:GetInput" />
			<xsd:element name="GetShopsResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetShopByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetShopByIdResponse" type="tns:shops" />
			
			<xsd:element name="CreateShopRequest" type="tns:AddShopInput" />
			<xsd:element name="CreateShopResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateShopRequest" type="tns:AddShopInput" />
			<xsd:element name="UpdateShopResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteShopRequest" type="tns:DelInput" />
			<xsd:element name="DeleteShopResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddShopInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="shop" type="tns:shop" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="shops">
				<xsd:sequence>
					<xsd:element name="shop" type="tns:shop" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="shop">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_shop_group" type="xsd:string" />
					<xsd:element name="id_category" type="xsd:string" />
					<xsd:element name="id_theme" type="xsd:string" />
					<xsd:element name="active" type="xsd:string" />
					<xsd:element name="deleted" type="xsd:string" />				
					<xsd:element name="name" type="xsd:string" />					
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetShopsRequest">
		<wsdl:part element="tns:GetShopsRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetShopsResponse">
		<wsdl:part element="tns:GetShopsResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetShopByIdRequest">
		<wsdl:part element="tns:GetShopByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetShopByIdResponse">
		<wsdl:part element="tns:GetShopByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateShopRequest">
		<wsdl:part element="tns:CreateShopRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateShopResponse">
		<wsdl:part element="tns:CreateShopResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateShopRequest">
		<wsdl:part element="tns:UpdateShopRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateShopResponse">
		<wsdl:part element="tns:UpdateShopResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteShopRequest">
		<wsdl:part element="tns:DeleteShopRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteShopResponse">
		<wsdl:part element="tns:DeleteShopResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Shops">
	
	
		<wsdl:operation name="GetShops">
			<wsdl:input message="tns:GetShopsRequest"></wsdl:input>
			<wsdl:output message="tns:GetShopsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetShopById">
			<wsdl:input message="tns:GetShopByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetShopByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateShop">
			<wsdl:input message="tns:CreateShopRequest"></wsdl:input>
			<wsdl:output message="tns:CreateShopResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateShop">
			<wsdl:input message="tns:UpdateShopRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateShopResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteShop">
			<wsdl:input message="tns:DeleteShopRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteShopResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="ShopsSOAP" type="tns:Shops">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetShops">
			<soap:operation soapAction="http://www.prestashop.com/shops/GetShops" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetShopById">
			<soap:operation soapAction="http://www.prestashop.com/shops/GetShopById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateShop">
			<soap:operation soapAction="http://www.prestashop.com/shops/CreateShop" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateShop">
			<soap:operation soapAction="http://www.prestashop.com/shops/UpdateShop" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteShop">
			<soap:operation soapAction="http://www.prestashop.com/shops/DeleteShop" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Shops">
		<wsdl:port binding="tns:ShopsSOAP" name="ShopsSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/shops/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
