supply_order_receipt_histories/supply_order_receipt_histories.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Supply_order_receipt_histories/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Supply_order_receipt_histories/"
	name="Supply_order_receipt_histories" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Supply_order_receipt_histories/">
			
			<xsd:element name="GetSupply_order_receipt_historiesRequest" type="tns:GetInput" />
			<xsd:element name="GetSupply_order_receipt_historiesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetSupply_order_receipt_historyByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetSupply_order_receipt_historyByIdResponse" type="tns:supply_order_receipt_histories" />
			
			<xsd:element name="CreateSupply_order_receipt_historyRequest" type="tns:AddSupply_order_receipt_historyInput" />
			<xsd:element name="CreateSupply_order_receipt_historyResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateSupply_order_receipt_historyRequest" type="tns:AddSupply_order_receipt_historyInput" />
			<xsd:element name="UpdateSupply_order_receipt_historyResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteSupply_order_receipt_historyRequest" type="tns:DelInput" />
			<xsd:element name="DeleteSupply_order_receipt_historyResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddSupply_order_receipt_historyInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="supply_order_receipt_history" type="tns:supply_order_receipt_history" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="supply_order_receipt_histories">
				<xsd:sequence>
					<xsd:element name="supply_order_receipt_history" type="tns:supply_order_receipt_history" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="supply_order_receipt_history">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_supply_order_detail" type="xsd:string" />
					<xsd:element name="id_employee" type="xsd:string" />
					<xsd:element name="id_supply_order_state" type="xsd:string" />
					<xsd:element name="employee_firstname" type="xsd:string" />
					<xsd:element name="employee_lastname" type="xsd:string" />
					<xsd:element name="quantity" type="xsd:string" />
					<xsd:element name="date_add" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetSupply_order_receipt_historiesRequest">
		<wsdl:part element="tns:GetSupply_order_receipt_historiesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetSupply_order_receipt_historiesResponse">
		<wsdl:part element="tns:GetSupply_order_receipt_historiesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetSupply_order_receipt_historyByIdRequest">
		<wsdl:part element="tns:GetSupply_order_receipt_historyByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetSupply_order_receipt_historyByIdResponse">
		<wsdl:part element="tns:GetSupply_order_receipt_historyByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateSupply_order_receipt_historyRequest">
		<wsdl:part element="tns:CreateSupply_order_receipt_historyRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateSupply_order_receipt_historyResponse">
		<wsdl:part element="tns:CreateSupply_order_receipt_historyResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateSupply_order_receipt_historyRequest">
		<wsdl:part element="tns:UpdateSupply_order_receipt_historyRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateSupply_order_receipt_historyResponse">
		<wsdl:part element="tns:UpdateSupply_order_receipt_historyResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteSupply_order_receipt_historyRequest">
		<wsdl:part element="tns:DeleteSupply_order_receipt_historyRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteSupply_order_receipt_historyResponse">
		<wsdl:part element="tns:DeleteSupply_order_receipt_historyResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Supply_order_receipt_histories">
	
	
		<wsdl:operation name="GetSupply_order_receipt_histories">
			<wsdl:input message="tns:GetSupply_order_receipt_historiesRequest"></wsdl:input>
			<wsdl:output message="tns:GetSupply_order_receipt_historiesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSupply_order_receipt_historyById">
			<wsdl:input message="tns:GetSupply_order_receipt_historyByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetSupply_order_receipt_historyByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateSupply_order_receipt_history">
			<wsdl:input message="tns:CreateSupply_order_receipt_historyRequest"></wsdl:input>
			<wsdl:output message="tns:CreateSupply_order_receipt_historyResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateSupply_order_receipt_history">
			<wsdl:input message="tns:UpdateSupply_order_receipt_historyRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateSupply_order_receipt_historyResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteSupply_order_receipt_history">
			<wsdl:input message="tns:DeleteSupply_order_receipt_historyRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteSupply_order_receipt_historyResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Supply_order_receipt_historiesSOAP" type="tns:Supply_order_receipt_histories">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetSupply_order_receipt_histories">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_receipt_histories/GetSupply_order_receipt_histories" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSupply_order_receipt_historyById">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_receipt_histories/GetSupply_order_receipt_historyById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateSupply_order_receipt_history">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_receipt_histories/CreateSupply_order_receipt_history" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateSupply_order_receipt_history">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_receipt_histories/UpdateSupply_order_receipt_history" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteSupply_order_receipt_history">
			<soap:operation soapAction="http://www.prestashop.com/supply_order_receipt_histories/DeleteSupply_order_receipt_history" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Supply_order_receipt_histories">
		<wsdl:port binding="tns:Supply_order_receipt_historiesSOAP" name="Supply_order_receipt_historiesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/supply_order_receipt_histories/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
