groups/groups.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Groups/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Groups/"
	name="Groups" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Groups/">
				
			<xsd:element name="GetGroupsRequest" type="tns:GetInput" />
			<xsd:element name="GetGroupsResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetGroupByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetGroupByIdResponse" type="tns:groups" />
			
			<xsd:element name="CreateGroupRequest" type="tns:AddGroupInput" />
			<xsd:element name="CreateGroupResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateGroupRequest" type="tns:AddGroupInput" />
			<xsd:element name="UpdateGroupResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteGroupRequest" type="tns:DelInput" />
			<xsd:element name="DeleteGroupResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddGroupInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="group" type="tns:group" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="groups">
				<xsd:sequence>
					<xsd:element name="group" type="tns:group" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="group">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="reduction" type="xsd:string" />
					<xsd:element name="price_display_method" type="xsd:string" />
					<xsd:element name="show_prices" type="xsd:string" />
					<xsd:element name="date_add" type="xsd:string" />
					<xsd:element name="date_upd" type="xsd:string" />
					<xsd:element name="name" type="tns:name" />				
				</xsd:all>
			</xsd:complexType>
					
			<xsd:complexType name="name">
				<xsd:all>
					<xsd:element name="language" type="tns:language" />
				</xsd:all>
			</xsd:complexType>					
			
			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>			
	
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetGroupsRequest">
		<wsdl:part element="tns:GetGroupsRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetGroupsResponse">
		<wsdl:part element="tns:GetGroupsResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetGroupByIdRequest">
		<wsdl:part element="tns:GetGroupByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetGroupByIdResponse">
		<wsdl:part element="tns:GetGroupByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateGroupRequest">
		<wsdl:part element="tns:CreateGroupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateGroupResponse">
		<wsdl:part element="tns:CreateGroupResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateGroupRequest">
		<wsdl:part element="tns:UpdateGroupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateGroupResponse">
		<wsdl:part element="tns:UpdateGroupResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteGroupRequest">
		<wsdl:part element="tns:DeleteGroupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteGroupResponse">
		<wsdl:part element="tns:DeleteGroupResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Groups">
	
	
		<wsdl:operation name="GetGroups">
			<wsdl:input message="tns:GetGroupsRequest"></wsdl:input>
			<wsdl:output message="tns:GetGroupsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetGroupById">
			<wsdl:input message="tns:GetGroupByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetGroupByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateGroup">
			<wsdl:input message="tns:CreateGroupRequest"></wsdl:input>
			<wsdl:output message="tns:CreateGroupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateGroup">
			<wsdl:input message="tns:UpdateGroupRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateGroupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteGroup">
			<wsdl:input message="tns:DeleteGroupRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteGroupResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="GroupsSOAP" type="tns:Groups">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetGroups">
			<soap:operation soapAction="http://www.prestashop.com/groups/GetGroups" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetGroupById">
			<soap:operation soapAction="http://www.prestashop.com/groups/GetGroupById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateGroup">
			<soap:operation soapAction="http://www.prestashop.com/groups/CreateGroup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateGroup">
			<soap:operation soapAction="http://www.prestashop.com/groups/UpdateGroup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteGroup">
			<soap:operation soapAction="http://www.prestashop.com/groups/DeleteGroup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Groups">
		<wsdl:port binding="tns:GroupsSOAP" name="GroupsSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/groups/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
