stock_movements/stock_movements.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Stock_mvts/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Stock_mvts/"
	name="Stock_mvts" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Stock_mvts/">
				
			<xsd:element name="GetStock_mvtsRequest" type="tns:GetInput" />
			<xsd:element name="GetStock_mvtsResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetStock_mvtByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetStock_mvtByIdResponse" type="tns:stock_mvts" />
			
			<xsd:element name="CreateStock_mvtRequest" type="tns:AddStock_mvtInput" />
			<xsd:element name="CreateStock_mvtResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateStock_mvtRequest" type="tns:AddStock_mvtInput" />
			<xsd:element name="UpdateStock_mvtResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteStock_mvtRequest" type="tns:DelInput" />
			<xsd:element name="DeleteStock_mvtResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddStock_mvtInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="stock_mvt" type="tns:stock_mvt" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="stock_mvts">
				<xsd:sequence>
					<xsd:element name="stock_mvt" type="tns:stock_mvt" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="stock_mvt">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id_product" type="xsd:string" />
					<xsd:element name="id_product_attribute" type="xsd:string" />
					<xsd:element name="id_warehouse" type="xsd:string" />
					<xsd:element name="id_currency" type="xsd:string" />
					<xsd:element name="management_type" type="xsd:string" />
					<xsd:element name="id_employee" type="xsd:string" />
					<xsd:element name="id_stock" type="xsd:string" />
					<xsd:element name="id_stock_mvt_reason" type="xsd:string" />
					<xsd:element name="id_order" type="xsd:string" />
					<xsd:element name="id_supply_order" type="xsd:string" />
					<xsd:element name="product_name" type="tns:product_name" />
					<xsd:element name="ean13" type="xsd:string" />
					<xsd:element name="upc" type="xsd:string" />
					<xsd:element name="reference" type="xsd:string" />
					<xsd:element name="physical_quantity" type="xsd:string" />
					<xsd:element name="sign" type="xsd:string" />
					<xsd:element name="last_wa" type="xsd:string" />
					<xsd:element name="current_wa" type="xsd:string" />
					<xsd:element name="price_te" type="xsd:string" />
					<xsd:element name="date_add" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="product_name">
				<xsd:all>
					<xsd:element name="language" type="tns:language" />
				</xsd:all>
			</xsd:complexType>


			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetStock_mvtsRequest">
		<wsdl:part element="tns:GetStock_mvtsRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStock_mvtsResponse">
		<wsdl:part element="tns:GetStock_mvtsResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetStock_mvtByIdRequest">
		<wsdl:part element="tns:GetStock_mvtByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStock_mvtByIdResponse">
		<wsdl:part element="tns:GetStock_mvtByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateStock_mvtRequest">
		<wsdl:part element="tns:CreateStock_mvtRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateStock_mvtResponse">
		<wsdl:part element="tns:CreateStock_mvtResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateStock_mvtRequest">
		<wsdl:part element="tns:UpdateStock_mvtRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateStock_mvtResponse">
		<wsdl:part element="tns:UpdateStock_mvtResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteStock_mvtRequest">
		<wsdl:part element="tns:DeleteStock_mvtRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteStock_mvtResponse">
		<wsdl:part element="tns:DeleteStock_mvtResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Stock_mvts">
	
	
		<wsdl:operation name="GetStock_mvts">
			<wsdl:input message="tns:GetStock_mvtsRequest"></wsdl:input>
			<wsdl:output message="tns:GetStock_mvtsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStock_mvtById">
			<wsdl:input message="tns:GetStock_mvtByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetStock_mvtByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateStock_mvt">
			<wsdl:input message="tns:CreateStock_mvtRequest"></wsdl:input>
			<wsdl:output message="tns:CreateStock_mvtResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateStock_mvt">
			<wsdl:input message="tns:UpdateStock_mvtRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateStock_mvtResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteStock_mvt">
			<wsdl:input message="tns:DeleteStock_mvtRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteStock_mvtResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Stock_mvtsSOAP" type="tns:Stock_mvts">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetStock_mvts">
			<soap:operation soapAction="http://www.prestashop.com/stock_mvts/GetStock_mvts" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStock_mvtById">
			<soap:operation soapAction="http://www.prestashop.com/stock_mvts/GetStock_mvtById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateStock_mvt">
			<soap:operation soapAction="http://www.prestashop.com/stock_mvts/CreateStock_mvt" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateStock_mvt">
			<soap:operation soapAction="http://www.prestashop.com/stock_mvts/UpdateStock_mvt" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteStock_mvt">
			<soap:operation soapAction="http://www.prestashop.com/stock_mvts/DeleteStock_mvt" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Stock_mvts">
		<wsdl:port binding="tns:Stock_mvtsSOAP" name="Stock_mvtsSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/stock_movements/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
