states/states.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/States/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/States/"
	name="States" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/States/">
					
			<xsd:element name="GetStatesRequest" type="tns:GetInput" />
			<xsd:element name="GetStatesResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetStateByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetStateByIdResponse" type="tns:states" />
			
			<xsd:element name="CreateStateRequest" type="tns:AddStateInput" />
			<xsd:element name="CreateStateResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateStateRequest" type="tns:AddStateInput" />
			<xsd:element name="UpdateStateResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteStateRequest" type="tns:DelInput" />
			<xsd:element name="DeleteStateResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddStateInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="state" type="tns:state" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="states">
				<xsd:sequence>
					<xsd:element name="state" type="tns:state" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="state">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="id_zone" type="xsd:string" />
					<xsd:element name="id_country" type="xsd:string" />
					<xsd:element name="iso_code" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="active" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>

						<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetStatesRequest">
		<wsdl:part element="tns:GetStatesRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStatesResponse">
		<wsdl:part element="tns:GetStatesResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetStateByIdRequest">
		<wsdl:part element="tns:GetStateByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStateByIdResponse">
		<wsdl:part element="tns:GetStateByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateStateRequest">
		<wsdl:part element="tns:CreateStateRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateStateResponse">
		<wsdl:part element="tns:CreateStateResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateStateRequest">
		<wsdl:part element="tns:UpdateStateRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateStateResponse">
		<wsdl:part element="tns:UpdateStateResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteStateRequest">
		<wsdl:part element="tns:DeleteStateRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteStateResponse">
		<wsdl:part element="tns:DeleteStateResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="States">
	
	
		<wsdl:operation name="GetStates">
			<wsdl:input message="tns:GetStatesRequest"></wsdl:input>
			<wsdl:output message="tns:GetStatesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStateById">
			<wsdl:input message="tns:GetStateByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetStateByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateState">
			<wsdl:input message="tns:CreateStateRequest"></wsdl:input>
			<wsdl:output message="tns:CreateStateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateState">
			<wsdl:input message="tns:UpdateStateRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateStateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteState">
			<wsdl:input message="tns:DeleteStateRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteStateResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="StatesSOAP" type="tns:States">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetStates">
			<soap:operation soapAction="http://www.prestashop.com/states/GetStates" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStateById">
			<soap:operation soapAction="http://www.prestashop.com/states/GetStateById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateState">
			<soap:operation soapAction="http://www.prestashop.com/states/CreateState" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateState">
			<soap:operation soapAction="http://www.prestashop.com/states/UpdateState" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteState">
			<soap:operation soapAction="http://www.prestashop.com/states/DeleteState" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="States">
		<wsdl:port binding="tns:StatesSOAP" name="StatesSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/states/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
