tax_rule_groups/tax_rule_groups.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.prestashop.com/Tax_rule_groups/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.prestashop.com/Tax_rule_groups/"
	name="Tax_rule_groups" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.prestashop.com/Tax_rule_groups/">
				
			<xsd:element name="GetTax_rule_groupsRequest" type="tns:GetInput" />
			<xsd:element name="GetTax_rule_groupsResponse" type="tns:commonXlinks" />
			
			<xsd:element name="GetTax_rule_groupByIdRequest" type="tns:GetInput" />
			<xsd:element name="GetTax_rule_groupByIdResponse" type="tns:tax_rule_groups" />
			
			<xsd:element name="CreateTax_rule_groupRequest" type="tns:AddTax_rule_groupInput" />
			<xsd:element name="CreateTax_rule_groupResponse" type="tns:commonReturn" />
			
			<xsd:element name="UpdateTax_rule_groupRequest" type="tns:AddTax_rule_groupInput" />
			<xsd:element name="UpdateTax_rule_groupResponse" type="tns:commonReturn" />
			
			<xsd:element name="DeleteTax_rule_groupRequest" type="tns:DelInput" />
			<xsd:element name="DeleteTax_rule_groupResponse" type="tns:commonReturn" />
			
			<xsd:complexType name="AddTax_rule_groupInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="tax_rule_group" type="tns:tax_rule_group" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="tax_rule_groups">
				<xsd:sequence>
					<xsd:element name="tax_rule_group" type="tns:tax_rule_group" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="tax_rule_group">
				<xsd:all>
					<!-- get from ?schema=blank-->
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="active" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="key" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="GetInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="limit_start" type="xsd:string" />
					<xsd:element name="limit_end" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="DelInput">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonReturn">
				<xsd:all>
					<xsd:element name="returnCode" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="returnData" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlink">
				<xsd:all>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="xlink" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="commonXlinks">
				<xsd:sequence>
					<xsd:element name="commonXlink" type="tns:commonXlink" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="langStruct">
				<xsd:sequence>
					<xsd:element name="language" type="tns:language" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="language">
				<xsd:attribute name="id" type="xsd:string"  />
				<xsd:attribute name="xlink" type="xsd:string" />
				<xsd:attribute name="value" type="xsd:string" />
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
		
	<wsdl:message name="GetTax_rule_groupsRequest">
		<wsdl:part element="tns:GetTax_rule_groupsRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetTax_rule_groupsResponse">
		<wsdl:part element="tns:GetTax_rule_groupsResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="GetTax_rule_groupByIdRequest">
		<wsdl:part element="tns:GetTax_rule_groupByIdRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetTax_rule_groupByIdResponse">
		<wsdl:part element="tns:GetTax_rule_groupByIdResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateTax_rule_groupRequest">
		<wsdl:part element="tns:CreateTax_rule_groupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateTax_rule_groupResponse">
		<wsdl:part element="tns:CreateTax_rule_groupResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateTax_rule_groupRequest">
		<wsdl:part element="tns:UpdateTax_rule_groupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateTax_rule_groupResponse">
		<wsdl:part element="tns:UpdateTax_rule_groupResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteTax_rule_groupRequest">
		<wsdl:part element="tns:DeleteTax_rule_groupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteTax_rule_groupResponse">
		<wsdl:part element="tns:DeleteTax_rule_groupResponse" name="parameters" />
	</wsdl:message>

	
	
	<wsdl:portType name="Tax_rule_groups">
	
	
		<wsdl:operation name="GetTax_rule_groups">
			<wsdl:input message="tns:GetTax_rule_groupsRequest"></wsdl:input>
			<wsdl:output message="tns:GetTax_rule_groupsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTax_rule_groupById">
			<wsdl:input message="tns:GetTax_rule_groupByIdRequest"></wsdl:input>
			<wsdl:output message="tns:GetTax_rule_groupByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateTax_rule_group">
			<wsdl:input message="tns:CreateTax_rule_groupRequest"></wsdl:input>
			<wsdl:output message="tns:CreateTax_rule_groupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateTax_rule_group">
			<wsdl:input message="tns:UpdateTax_rule_groupRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateTax_rule_groupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteTax_rule_group">
			<wsdl:input message="tns:DeleteTax_rule_groupRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteTax_rule_groupResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="Tax_rule_groupsSOAP" type="tns:Tax_rule_groups">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetTax_rule_groups">
			<soap:operation soapAction="http://www.prestashop.com/tax_rule_groups/GetTax_rule_groups" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTax_rule_groupById">
			<soap:operation soapAction="http://www.prestashop.com/tax_rule_groups/GetTax_rule_groupById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateTax_rule_group">
			<soap:operation soapAction="http://www.prestashop.com/tax_rule_groups/CreateTax_rule_group" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateTax_rule_group">
			<soap:operation soapAction="http://www.prestashop.com/tax_rule_groups/UpdateTax_rule_group" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteTax_rule_group">
			<soap:operation soapAction="http://www.prestashop.com/tax_rule_groups/DeleteTax_rule_group" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="Tax_rule_groups">
		<wsdl:port binding="tns:Tax_rule_groupsSOAP" name="Tax_rule_groupsSOAP">
			<soap:address
				location="http://___HOST___/___BASE___/___MODULEDIR___/tax_rule_groups/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
